.container {
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 32px;
  text-align: center;
  margin: 10px 0px;
}
.tagContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 20px;
  gap: 2rem;
}
.tag {
  text-align: center;
  padding: 8px 16px;
  border-radius: 16px;
  border-bottom: 1px solid #fff;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}
